* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Arimo", sans-serif; }

h1 {
  font-size: 4rem;
  font-weight: 700; }

h2 {
  font-size: 1.8rem;
  font-weight: 600; }

h3 {
  font-size: 1.4rem;
  font-weight: 800;
  text-align: center; }

h4 {
  font-size: 1.1rem;
  font-weight: 600; }

h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #1d1d1d; }

h6 {
  color: #d8d8d8; }

button {
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: #1d1d1d;
  color: aliceblue;
  padding: 13px 30px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease; }

button:hover {
  background-color: #3a3833; }

hr {
  width: 30px;
  height: 2px;
  background-color: #fdc500; }

.line {
  border-top: 1px solid black;
  height: 0.5px;
  padding: 0;
  margin: 20px auto 50px auto; }
  .line-home {
    margin-top: 50px;
    border-top: 1px solid black; }
  .line-clothes {
    border: transparent;
    margin: 100px 0; }

.section-container {
  padding: 2rem 0;
  text-align: center; }

#navbar {
  background-color: #0B141A; }

.logo {
  width: 120px;
  height: 40px; }

.star {
  padding: 10px 0; }

.star i {
  font-size: 0.8rem;
  color: goldenrod; }

.navbar {
  font-size: 16px;
  top: 0;
  left: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }

.navbar-light .navbar-nav .nav-link {
  padding: 0 20px;
  color: white;
  transition: 0.3s ease; }

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active {
  color: #B9935A; }

.navbar i {
  font-size: 1.2rem;
  padding: 0 7px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease; }

/* Mobile Nav */
.navbar-light .navbar-toggler {
  border: none;
  outline: none;
  background-color: #B9935A; }

#bar {
  font-size: 1.5rem;
  padding: 7px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
  color: black; }

#bar:hover,
#bar.active {
  color: #fdc500; }

@media only screen and (max-width: 991px) {
  body > nav > div > button:hover,
  body > nav > div > button:focus {
    background-color: #fdc500; }
  body > nav > div > button:hover #bar,
  body > nav > div > button:focus #bar {
    color: #fff; }
  #navbarSupportedContent > ul {
    margin: 1rem;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right; }
  #navbarSupportedContent > ul > li:nth-child(n) > a {
    padding: 10px 0; } }

@media screen and (max-width: 685px) {
  #home .h1-main {
    margin-top: 150px; } }

#home {
  background-image: url("../img/hero.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top 60px center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  #home span {
    color: #fdc500; }
  #home .h1-main {
    padding: 0.5rem 0 1rem 0; }
    #home .h1-main .sm-brand {
      color: black; }
  #home .button-main {
    margin-top: 1rem; }

@media screen and (max-width: 685px) {
  #home {
    background-image: url("../img/hero-mobile.png");
    display: block;
    height: 100%; }
    #home .container {
      padding-bottom: 100%; }
    #home .sm-brand {
      color: #fdc500 !important; } }

.home-icons {
  display: flex;
  flex-direction: row; }
  .home-icons .home-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
    margin: 4rem 3rem 0 3rem; }
    .home-icons .home-icons-container .home-icons-container {
      display: flex;
      flex-direction: column; }
    .home-icons .home-icons-container .home-icon {
      width: 120px; }

@media screen and (max-width: 685px) {
  .home-icons {
    flex-direction: column;
    padding-top: 0px; }
    .home-icons .home-icons-container {
      flex-direction: column;
      padding: 0; } }

#about {
  margin: 10rem 0; }
  #about .new {
    padding-top: 2rem;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center; }
    #about .new .about-text {
      margin: 1rem 2rem;
      text-align: justify; }
    #about .new .about-img {
      display: inline-block;
      height: 200px;
      width: 200px; }

@media screen and (max-width: 685px) {
  #about {
    margin: 5rem 0; }
    #about .about .section-container .pb-5,
    #about .about .section-container .py-5 {
      padding-bottom: 0 !important; }
    #about .about-main-container {
      margin: 1rem 0; }
      #about .about-main-container .new {
        padding: 2rem 0;
        flex-direction: column !important; }
        #about .about-main-container .new .about-text {
          width: 100%;
          padding: 1rem; }
    #about .about-main-container :first-child {
      padding: 0rem; } }

#new {
  padding: 5rem 0;
  background: #0b141a; }
  #new h3,
  #new p {
    color: #fff; }
  #new .one img {
    width: 60%;
    height: 80%;
    background-size: cover; }
  #new .one .details {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease; }
  #new .one:hover .details {
    cursor: pointer; }
  #new .one .details button {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
    background: none;
    text-transform: uppercase;
    border-bottom: 1px solid #2a2a2a;
    padding: 2.5px;
    transform: translateY(70px);
    transition: 0.3s ease; }
  #new .one .details button:hover {
    color: #fff;
    border-bottom: 1px solid #fff; }
  #new .one:nth-child(1) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start; }
  #new .one:nth-child(2) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  #new .one:nth-child(3) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end; }
  #new .process {
    display: flex;
    justify-content: space-around;
    padding-bottom: 200px; }
    #new .process .process-img-container {
      transition: all 0.5s ease-in-out;
      margin: 1rem;
      position: relative; }
      #new .process .process-img-container .img-fluid {
        max-width: 280px;
        max-height: 280px; }
      #new .process .process-img-container .img-fluid-title {
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem;
        letter-spacing: 1.5px;
        padding-top: 2.5rem;
        display: block; }
      #new .process .process-img-container .img-fluid-description {
        display: none;
        width: 100%;
        position: absolute;
        top: 300px;
        right: 0px;
        text-align: justify;
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 1.25px;
        padding-top: 2.5rem; }
  #new .process-img-container:hover {
    transition: all 1s ease-in-out; }
    #new .process-img-container:hover .img-fluid {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      transition: all 1s ease-in-out; }
    #new .process-img-container:hover .img-fluid-title {
      text-align: center;
      font-weight: bold;
      font-size: 1.2rem;
      letter-spacing: 1.5px;
      padding-top: 2.5rem;
      display: none; }
    #new .process-img-container:hover .img-fluid-description {
      display: block;
      transition: all 1s ease-in-out; }

@media screen and (max-width: 685px) {
  .process {
    flex-direction: column;
    margin: 0 auto;
    justify-content: center; }
    .process .process-img-container {
      margin: 0 auto !important; }
  #new .process {
    padding-bottom: 50px; }
  #new .process .process-img-container .img-fluid-description {
    top: 25px; }
  .process-img-container:hover {
    transition: none; }
    .process-img-container:hover .img-fluid {
      -webkit-transform: none;
      transform: none;
      transition: none;
      opacity: 0.3;
      padding: 2rem; }
    .process-img-container:hover .img-fluid-description {
      display: block;
      transition: none; } }

.product {
  cursor: pointer;
  margin-bottom: 2rem; }

.product img {
  transition: 0.3s all; }

.product-img {
  border-radius: 10px; }

.product:hover img {
  opacity: 0.7; }

.product .buy-btn {
  background: #fdc500;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s all; }

.product:hover .buy-btn {
  transform: translateY(0);
  opacity: 1; }

#banner {
  background-image: url("img/banner/2.jpg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: top 70px center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

#banner h4 {
  color: #d8d8d8; }

#banner h1 {
  color: #fff; }

#banner button {
  background-color: #fdc500; }

.container-fluid {
  justify-content: space-evenly; }

form {
  width: 650px;
  margin: 0 auto; }

input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px; }

textarea {
  height: 200px; }

input[type="submit"] {
  background-color: #fdc500;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  width: 40%;
  margin: 0 auto; }

input[type="submit"]:hover {
  background-color: #f7d65e; }

label {
  display: block;
  margin-bottom: 5px; }

footer {
  background-color: #0b141a; }

#footer {
  display: flex;
  justify-content: space-around; }

.footer-logo {
  width: 120px; }

footer h5 {
  color: #d8d8d8;
  font-weight: 700;
  font-size: 1.2rem; }

.footer-links {
  display: flex;
  justify-content: center;
  padding-top: 2.4rem; }

footer li {
  padding-bottom: 4px; }

footer li a {
  font-size: 0.8rem;
  color: #999; }

footer li a:hover {
  color: #d8d8d8; }

footer p {
  color: #999;
  font-size: 0.8rem; }

footer .copyright a {
  color: #000;
  width: 38px;
  height: 38px;
  background-color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 0 5px; }

footer .copyright a:hover {
  color: #fff;
  background-color: #fdc500; }

#footer-copyright {
  display: flex;
  padding-top: 4rem;
  justify-content: flex-end; }

@media screen and (max-width: 685px) {
  #footer-copyright {
    justify-content: center; } }
